*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 500px;
}

.flex-item{
  background-color: aqua;
  padding: 20px;
  margin: 5px;
  flex: 0 1 auto;
}

.flex1{
  align-self: flex-start;
}